In [1]:
import pandas as pd
import numpy as np

In [2]:
store = pd.read_csv("store.csv")
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

/home/aayush/Programs/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [5]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0
20,21,5,2015-07-31,9515,682,1,1,0,1
21,22,5,2015-07-31,6566,633,1,1,0,0
22,23,5,2015-07-31,7273,560,1,1,0,1
23,24,5,2015-07-31,14190,1082,1,1,0,1
24,25,5,2015-07-31,14180,1586,1,1,0,1
25,26,5,2015-07-31,7818,611,1,1,0,1
26,27,5,2015-07-31,13213,1263,1,1,0,1
27,28,5,2015-07-31,7301,663,1,1,0,1
28,29,5,2015-07-31,9411,737,1,1,0,1
29,30,5,2015-07-31,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,a,1
1017180,1087,2,2013-01-01,0,0,0,0,a,1
1017181,1088,2,2013-01-01,0,0,0,0,a,1
1017182,1089,2,2013-01-01,0,0,0,0,a,1
1017183,1090,2,2013-01-01,0,0,0,0,a,1
1017184,1091,2,2013-01-01,0,0,0,0,a,1
1017185,1092,2,2013-01-01,0,0,0,0,a,1
1017186,1093,2,2013-01-01,0,0,0,0,a,1
1017187,1094,2,2013-01-01,0,0,0,0,a,1
1017188,1095,2,2013-01-01,0,0,0,0,a,1
1017189,1096,2,2013-01-01,0,0,0,0,a,1
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1
1017191,1098,2,2013-01-01,0,0,0,0,a,1
1017192,1099,2,2013-01-01,0,0,0,0,a,1
1017193,1100,2,2013-01-01,0,0,0,0,a,1
1017194,1101,2,2013-01-01,0,0,0,0,a,1
1017195,1102,2,2013-01-01,0,0,0,0,a,1
1017196,1103,2,2013-01-01,0,0,0,0,a,1
1017197,1104,2,2013-01-01,0,0,0,0,a,1
1017198,1105,2,2013-01-01,0,0,0,0,a,1
1017199,1106,2,2013-01-01,0,0,0,0,a,1
1017200,1107,2,2013-01-01,0,0,0,0,a,1
1017201,1108,2,2013-01-01,0,0,0,0,a,1
1017202,1109,2,2013-01-01,0,0,0,0,a,1
1017203,1110,2,2013-01-01,0,0,0,0,a,1
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [8]:
train = train.loc[train.Sales > 0]

In [9]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0
20,21,5,2015-07-31,9515,682,1,1,0,1
21,22,5,2015-07-31,6566,633,1,1,0,0
22,23,5,2015-07-31,7273,560,1,1,0,1
23,24,5,2015-07-31,14190,1082,1,1,0,1
24,25,5,2015-07-31,14180,1586,1,1,0,1
25,26,5,2015-07-31,7818,611,1,1,0,1
26,27,5,2015-07-31,13213,1263,1,1,0,1
27,28,5,2015-07-31,7301,663,1,1,0,1
28,29,5,2015-07-31,9411,737,1,1,0,1
29,30,5,2015-07-31,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1016082,1103,3,2013-01-02,3154,277,1,0,0,1
1016083,1104,3,2013-01-02,4161,388,1,0,0,1
1016084,1105,3,2013-01-02,2814,361,1,0,0,1
1016085,1106,3,2013-01-02,5099,620,1,0,0,1
1016086,1107,3,2013-01-02,3955,525,1,0,0,1
1016087,1108,3,2013-01-02,6220,701,1,0,0,1
1016088,1109,3,2013-01-02,4576,444,1,0,0,1
1016089,1110,3,2013-01-02,4126,507,1,0,0,1
1016090,1111,3,2013-01-02,5097,505,1,0,0,1
1016091,1112,3,2013-01-02,10797,892,1,0,0,1
1016092,1113,3,2013-01-02,6218,753,1,0,0,1
1016093,1114,3,2013-01-02,20642,3401,1,0,0,1
1016094,1115,3,2013-01-02,3697,305,1,0,0,1
1016179,85,2,2013-01-01,4220,619,1,0,a,1
1016353,259,2,2013-01-01,6851,1444,1,0,a,1
1016356,262,2,2013-01-01,17267,2875,1,0,a,1
1016368,274,2,2013-01-01,3102,729,1,0,a,1
1016429,335,2,2013-01-01,2401,482,1,0,a,1
1016447,353,2,2013-01-01,3139,820,1,0,a,1
1016517,423,2,2013-01-01,9643,1751,1,0,a,1
1016588,494,2,2013-01-01,3113,527,1,0,a,1
1016606,512,2,2013-01-01,2646,625,1,0,a,1
1016624,530,2,2013-01-01,2907,532,1,0,a,1
1016656,562,2,2013-01-01,8498,1675,1,0,a,1
1016770,676,2,2013-01-01,3821,777,1,0,a,1
1016776,682,2,2013-01-01,3375,566,1,0,a,1
1016827,733,2,2013-01-01,10765,2377,1,0,a,1
1016863,769,2,2013-01-01,5035,1248,1,0,a,1
1017042,948,2,2013-01-01,4491,1039,1,0,a,1
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1

In [10]:
test.loc[test.Open.isnull(), 'Open' ] = 1

In [11]:
columns = ['Store', 'DayOfWeek', 'Promo']

In [12]:
medians = train.groupby( columns )['Sales'].median()

In [13]:
medians

Store  DayOfWeek  Promo
1      1          0         4004.0
                  1         5683.5
       2          0         3773.0
                  1         5275.5
       3          0         3805.0
                  1         4957.0
       4          0         3810.5
                  1         4770.5
       5          0         4130.5
                  1         4986.0
       6          0         4785.0
2      1          0         4066.0
                  1         7239.5
       2          0         4057.5
                  1         6306.5
       3          0         4869.0
                  1         6558.0
       4          0         4057.0
                  1         5527.0
       5          0         4042.0
                  1         4924.5
       6          0         2735.0
3      1          0         5425.0
                  1        10053.0
       2          0         5554.5
                  1         8969.5
       3          0         5448.0
                  1         8399.0
       4          0         5662.0
                  1         7864.5
                            ...
1113   2          1         7066.0
       3          0         5372.0
                  1         6785.0
       4          0         6116.0
                  1         7297.0
       5          0         6011.0
                  1         6849.0
       6          0         5608.5
1114   1          0        18775.5
                  1        23504.0
       2          0        17430.0
                  1        21638.5
       3          0        17442.0
                  1        20636.0
       4          0        17655.0
                  1        20763.0
       5          0        19505.0
                  1        21138.0
       6          0        21569.5
1115   1          0         4923.5
                  1         8433.0
       2          0         4327.0
                  1         6916.5
       3          0         4531.0
                  1         6531.0
       4          0         4659.0
                  1         6542.0
       5          0         5354.0
                  1         6926.0
       6          0         6609.5
Name: Sales, Length: 12298, dtype: float64

In [14]:
medians = medians.reset_index()

In [15]:
medians

       Store  DayOfWeek  Promo    Sales
0          1          1      0   4004.0
1          1          1      1   5683.5
2          1          2      0   3773.0
3          1          2      1   5275.5
4          1          3      0   3805.0
5          1          3      1   4957.0
6          1          4      0   3810.5
7          1          4      1   4770.5
8          1          5      0   4130.5
9          1          5      1   4986.0
10         1          6      0   4785.0
11         2          1      0   4066.0
12         2          1      1   7239.5
13         2          2      0   4057.5
14         2          2      1   6306.5
15         2          3      0   4869.0
16         2          3      1   6558.0
17         2          4      0   4057.0
18         2          4      1   5527.0
19         2          5      0   4042.0
20         2          5      1   4924.5
21         2          6      0   2735.0
22         3          1      0   5425.0
23         3          1      1  10053.0
24         3          2      0   5554.5
25         3          2      1   8969.5
26         3          3      0   5448.0
27         3          3      1   8399.0
28         3          4      0   5662.0
29         3          4      1   7864.5
...      ...        ...    ...      ...
12268   1113          2      1   7066.0
12269   1113          3      0   5372.0
12270   1113          3      1   6785.0
12271   1113          4      0   6116.0
12272   1113          4      1   7297.0
12273   1113          5      0   6011.0
12274   1113          5      1   6849.0
12275   1113          6      0   5608.5
12276   1114          1      0  18775.5
12277   1114          1      1  23504.0
12278   1114          2      0  17430.0
12279   1114          2      1  21638.5
12280   1114          3      0  17442.0
12281   1114          3      1  20636.0
12282   1114          4      0  17655.0
12283   1114          4      1  20763.0
12284   1114          5      0  19505.0
12285   1114          5      1  21138.0
12286   1114          6      0  21569.5
12287   1115          1      0   4923.5
12288   1115          1      1   8433.0
12289   1115          2      0   4327.0
12290   1115          2      1   6916.5
12291   1115          3      0   4531.0
12292   1115          3      1   6531.0
12293   1115          4      0   4659.0
12294   1115          4      1   6542.0
12295   1115          5      0   5354.0
12296   1115          5      1   6926.0
12297   1115          6      0   6609.5

[12298 rows x 4 columns]

In [16]:
test2 = pd.merge( test, medians, on = columns, how = 'left' )

In [17]:
test2

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Sales
0,1,1,4,2015-09-17,1.0,1,0,0,4770.5
1,2,3,4,2015-09-17,1.0,1,0,0,7864.5
2,3,7,4,2015-09-17,1.0,1,0,0,8955.0
3,4,8,4,2015-09-17,1.0,1,0,0,6893.0
4,5,9,4,2015-09-17,1.0,1,0,0,6697.0
5,6,10,4,2015-09-17,1.0,1,0,0,5829.0
6,7,11,4,2015-09-17,1.0,1,0,0,8004.0
7,8,12,4,2015-09-17,1.0,1,0,0,8078.0
8,9,13,4,2015-09-17,1.0,1,0,0,5365.0
9,10,14,4,2015-09-17,1.0,1,0,0,6007.0
10,11,15,4,2015-09-17,1.0,1,0,0,7041.0
11,12,16,4,2015-09-17,1.0,1,0,0,8110.5
12,13,19,4,2015-09-17,1.0,1,0,0,7322.0
13,14,20,4,2015-09-17,1.0,1,0,0,9156.0
14,15,21,4,2015-09-17,1.0,1,0,0,6017.0
15,16,22,4,2015-09-17,1.0,1,0,0,4847.0
16,17,23,4,2015-09-17,1.0,1,0,0,6042.0
17,18,24,4,2015-09-17,1.0,1,0,0,9735.0
18,19,25,4,2015-09-17,1.0,1,0,0,11966.0
19,20,27,4,2015-09-17,1.0,1,0,0,10178.0
20,21,29,4,2015-09-17,1.0,1,0,0,7403.5
21,22,30,4,2015-09-17,1.0,1,0,0,6297.0
22,23,31,4,2015-09-17,1.0,1,0,0,5984.0
23,24,32,4,2015-09-17,1.0,1,0,0,4668.5
24,25,33,4,2015-09-17,1.0,1,0,0,8538.0
25,26,35,4,2015-09-17,1.0,1,0,0,10699.5
26,27,36,4,2015-09-17,1.0,1,0,0,9441.0
27,28,38,4,2015-09-17,1.0,1,0,0,6125.5
28,29,39,4,2015-09-17,1.0,1,0,0,5158.5
29,30,40,4,2015-09-17,1.0,1,0,0,5127.5
...,...,...,...,...,...,...,...,...,...
41058,41059,1077,6,2015-08-01,1.0,0,0,0,2924.0
41059,41060,1078,6,2015-08-01,1.0,0,0,0,5476.0
41060,41061,1079,6,2015-08-01,1.0,0,0,1,6291.5
41061,41062,1080,6,2015-08-01,1.0,0,0,0,10052.0
41062,41063,1083,6,2015-08-01,1.0,0,0,1,5399.5
41063,41064,1084,6,2015-08-01,1.0,0,0,1,5629.0
41064,41065,1086,6,2015-08-01,1.0,0,0,1,4816.0
41065,41066,1087,6,2015-08-01,1.0,0,0,1,5916.5
41066,41067,1088,6,2015-08-01,1.0,0,0,0,3093.0
41067,41068,1089,6,2015-08-01,1.0,0,0,0,10187.0
41068,41069,1091,6,2015-08-01,1.0,0,0,0,6607.5
41069,41070,1092,6,2015-08-01,1.0,0,0,0,13388.5
41070,41071,1094,6,2015-08-01,1.0,0,0,0,5587.5
41071,41072,1096,6,2015-08-01,1.0,0,0,0,4591.0
41072,41073,1097,6,2015-08-01,1.0,0,0,0,7214.0
41073,41074,1099,6,2015-08-01,1.0,0,0,0,7168.0
41074,41075,1100,6,2015-08-01,1.0,0,0,0,3296.0
41075,41076,1101,6,2015-08-01,1.0,0,0,0,8259.5
41076,41077,1102,6,2015-08-01,1.0,0,0,0,6844.0
41077,41078,1103,6,2015-08-01,1.0,0,0,1,4691.5
41078,41079,1104,6,2015-08-01,1.0,0,0,0,5951.5
41079,41080,1105,6,2015-08-01,1.0,0,0,0,4074.0
41080,41081,1106,6,2015-08-01,1.0,0,0,0,2855.0
41081,41082,1107,6,2015-08-01,1.0,0,0,0,5483.5
41082,41083,1109,6,2015-08-01,1.0,0,0,0,3556.5
41083,41084,1111,6,2015-08-01,1.0,0,0,0,3331.0
41084,41085,1112,6,2015-08-01,1.0,0,0,0,8511.0
41085,41086,1113,6,2015-08-01,1.0,0,0,0,5608.5
41086,41087,1114,6,2015-08-01,1.0,0,0,0,21569.5
41087,41088,1115,6,2015-08-01,1.0,0,0,1,6609.5

In [18]:
assert( len( test2 ) == len( test ))

In [20]:
test2.loc[ test2.Open == 0, 'Sales' ] = 0

In [21]:
test2.loc[ test2.Open == 0]

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Sales
543,544,703,4,2015-09-17,0.0,1,0,0,0.0
676,677,879,4,2015-09-17,0.0,1,0,0,0.0
840,841,1097,4,2015-09-17,0.0,1,0,0,0.0
1399,1400,703,3,2015-09-16,0.0,1,0,0,0.0
1532,1533,879,3,2015-09-16,0.0,1,0,0,0.0
1696,1697,1097,3,2015-09-16,0.0,1,0,0,0.0
2255,2256,703,2,2015-09-15,0.0,1,0,0,0.0
2388,2389,879,2,2015-09-15,0.0,1,0,0,0.0
2552,2553,1097,2,2015-09-15,0.0,1,0,0,0.0
3111,3112,703,1,2015-09-14,0.0,1,0,0,0.0
3244,3245,879,1,2015-09-14,0.0,1,0,1,0.0
3408,3409,1097,1,2015-09-14,0.0,1,0,0,0.0
3424,3425,1,7,2015-09-13,0.0,0,0,0,0.0
3425,3426,3,7,2015-09-13,0.0,0,0,0,0.0
3426,3427,7,7,2015-09-13,0.0,0,0,0,0.0
3427,3428,8,7,2015-09-13,0.0,0,0,0,0.0
3428,3429,9,7,2015-09-13,0.0,0,0,0,0.0
3429,3430,10,7,2015-09-13,0.0,0,0,0,0.0
3430,3431,11,7,2015-09-13,0.0,0,0,0,0.0
3431,3432,12,7,2015-09-13,0.0,0,0,0,0.0
3432,3433,13,7,2015-09-13,0.0,0,0,0,0.0
3433,3434,14,7,2015-09-13,0.0,0,0,0,0.0
3434,3435,15,7,2015-09-13,0.0,0,0,0,0.0
3435,3436,16,7,2015-09-13,0.0,0,0,0,0.0
3436,3437,19,7,2015-09-13,0.0,0,0,0,0.0
3437,3438,20,7,2015-09-13,0.0,0,0,0,0.0
3438,3439,21,7,2015-09-13,0.0,0,0,0,0.0
3439,3440,22,7,2015-09-13,0.0,0,0,0,0.0
3440,3441,23,7,2015-09-13,0.0,0,0,0,0.0
3441,3442,24,7,2015-09-13,0.0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...
40200,40201,1073,7,2015-08-02,0.0,0,0,0,0.0
40201,40202,1076,7,2015-08-02,0.0,0,0,0,0.0
40202,40203,1077,7,2015-08-02,0.0,0,0,0,0.0
40203,40204,1078,7,2015-08-02,0.0,0,0,0,0.0
40204,40205,1079,7,2015-08-02,0.0,0,0,1,0.0
40205,40206,1080,7,2015-08-02,0.0,0,0,0,0.0
40206,40207,1083,7,2015-08-02,0.0,0,0,1,0.0
40207,40208,1084,7,2015-08-02,0.0,0,0,1,0.0
40208,40209,1086,7,2015-08-02,0.0,0,0,1,0.0
40209,40210,1087,7,2015-08-02,0.0,0,0,1,0.0
40210,40211,1088,7,2015-08-02,0.0,0,0,0,0.0
40211,40212,1089,7,2015-08-02,0.0,0,0,0,0.0
40212,40213,1091,7,2015-08-02,0.0,0,0,0,0.0
40213,40214,1092,7,2015-08-02,0.0,0,0,0,0.0
40214,40215,1094,7,2015-08-02,0.0,0,0,0,0.0
40215,40216,1096,7,2015-08-02,0.0,0,0,0,0.0
40218,40219,1100,7,2015-08-02,0.0,0,0,0,0.0
40219,40220,1101,7,2015-08-02,0.0,0,0,0,0.0
40220,40221,1102,7,2015-08-02,0.0,0,0,0,0.0
40221,40222,1103,7,2015-08-02,0.0,0,0,1,0.0
40222,40223,1104,7,2015-08-02,0.0,0,0,0,0.0
40223,40224,1105,7,2015-08-02,0.0,0,0,0,0.0
40224,40225,1106,7,2015-08-02,0.0,0,0,0,0.0
40225,40226,1107,7,2015-08-02,0.0,0,0,0,0.0
40226,40227,1109,7,2015-08-02,0.0,0,0,0,0.0
40227,40228,1111,7,2015-08-02,0.0,0,0,0,0.0
40228,40229,1112,7,2015-08-02,0.0,0,0,0,0.0
40229,40230,1113,7,2015-08-02,0.0,0,0,0,0.0
40230,40231,1114,7,2015-08-02,0.0,0,0,0,0.0
40231,40232,1115,7,2015-08-02,0.0,0,0,1,0.0

In [22]:
assert( test2.Sales.isnull().sum() == 0 )

In [24]:
submission = pd.read_csv("sample_submission.csv")

In [26]:
test2[[ 'Id', 'Sales' ]].to_csv("sample_submission.csv", index = False )